<%= form_with(model: Message.new, class: "contents w-full h-full") do |form| %>

  <div class="w-full h-full inline flex mx-2">
    <%= form.text_area :content, class: "rounded-md border border-gray-400 outline-none w-full my-3" %>
  </div>

  <div class="inline">
    <%= form.submit :send, class: "rounded-lg py-3 px-5 bg-blue-600 text-white font-medium cursor-pointer mr-1" %>
  </div>
  
<% end %>
